<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias alias="BoardDTO" type="test.project.ko.board.BoardDTO"/>
 		<typeAlias alias="ReplyDTO" type="test.project.ko.board.ReplyDTO"/>
 		<typeAlias alias="MemberDTO" type="test.project.ko.member.MemberDTO"/>
 		<typeAlias alias="PagingVO" type="test.project.ko.util.PagingVO"/>
 	</typeAliases>
 </configuration>